/* 
    Created on : 05-ago-2018, 18:08:55
    Author     : Perla
*/
.split-pane-divider {
    -fx-padding: 0 0 0 0;
    -fx-background-color: rgba(0,0,0,0);
}
.label-der{-fx-text-fill: #ffffff;-fx-font-size:11;}
.button{
    -fx-text-fill: white;
    -fx-background-image: url("../frames/button.png");
    -fx-background-size: 100% 100%;
    -fx-background-radius: 4, 3;
    -fx-background-insets: 0, 0;
}
#anchor-izq{
    -fx-background-image:url("../frames/izq-herr.png");
    -fx-background-size: 100% 100%;
}
#anchor-der{
    -fx-background-image:url("../frames/der-herr.png");
    -fx-background-size: 100% 100%;
}
#anchor-info{
    -fx-background-image:url("../frames/anchor-info-dung.png");
    -fx-background-size: 100% 100%;
}

#white{-fx-text-fill: white;-fx-font-size:12;}
#blue{-fx-text-fill: #1B62B1;-fx-font-size:12;}
#green{-fx-text-fill: #6DBC49;-fx-font-size:12;}
#orange{-fx-text-fill: #DC8030;-fx-font-size:12;}
#purple{-fx-text-fill: #8D46C9;-fx-font-size:12;}
#gold{-fx-text-fill: #FFE363;-fx-font-size:12;}


/*-------TabPane Mineral -----------------*/
.tab-pane *.tab-header-area *.tab-header-background{
    -fx-background-color: rgba(0,0,0,0);
    -fx-background-size: 0 0;
}
.tab-pane .tab{-fx-background-color: #272E38;}
.tab-pane .tab:selected{-fx-background-color: #2D4855;}
.tab-pane .tab-label{-fx-text-fill: white;}

/*-----stack-pane Info-------*/
.scroll-pane > .viewport {
    -fx-background: rgba(0,0,0,0);
    -fx-control-inner-background: rgba(0,0,0,0);
}
.scroll-pane{
    -fx-background: #1E1E1E;
    -fx-control-inner-background: #1E1E1E;
    -fx-border-color: #1E1E1E;
}
.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:rgba(0,0,0,0);
}
.increment-button, .decrement-button {
    -fx-background-color: rgba(0,0,0,0);
    -fx-border-color: rgba(0,0,0,0);
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: rgba(0,0,0,0);
    -fx-border-color: rgba(0,0,0,0);
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #7B7B7B;
    -fx-background-radius: 5em;
}
.scroll-pane > .corner {
    -fx-background-color: #29303A;
}